@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.no-nargin {
    margin : 0px;
    padding: 0px;
}

h3 {
    border: 1px solid black;
    padding: 0px;
    margin: 0px;
    line-height: 100%;
  }