section {
  width: 80%;
  height: 700px;
  /* background-image: url(https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=710&q=80c); */
  background: center/cover no-repeat url(https://images.unsplash.com/photo-1543857778-c4a1a3e0b2eb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=710&q=80c), blueviolet;
  /* background-position: bottom; */
  background-size: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 100px;
  color: white;

}