button {
  font-size: 30px;
  background-color: #fb8500;
}

button:hover {
  background-color: chocolate;
  color:darkcyan;
}

body {
  background-color: #8ecae6;

}

h1, h2 {
  color: #023047;
}

#search {
  color: black;
}

#signup001 {
  background-color: #023047;
  color:#fb8500;
}

span {
  color:darkgrey
}

.tag{
  background-color: #219ebc;
  color: cornsilk;
  font-size: 16px;
  letter-spacing: 1.5px;
}

span a {
  color:rgb(46, 88, 3);
}

.post {
  background-color: rgb(163, 163, 227);
}

.post span {
  color:#023047;
}

footer a {
  text-decoration: none;
  color: pink;
}

input + button {
  background-color: pink;
}

footer > a {
  color:crimson;
}

label[for="password"] {
  font-weight: bold;
}

a:hover {
  text-decoration: red wavy underline;
}

.post a {
  color: #457b9d;
  font-weight: bold;
  text-decoration: none;
}

.post a:hover {
  text-decoration:rgb(46, 88, 3) underline;
}

.post button:active{
  background-color: #e76f51;
}

button:hover{
  background-color:brown;
  color: antiquewhite;
}

section:nth-of-type(2n){
  background-color: #457b9d;
}

p::first-line{
  color: purple;
}

p::selection {
  background-color: #fb8500;
}